# Configuration file
.config

# Compiled object files
*.a
*.o

# Random garbage
*.gch
*.swp

# Rust compilation files
target/
*.rlib

# ISO and ELF
iso/
maestro
*.iso

# Tags file
tags

# Debug files
*_out
serial.log

# Disk files
qemu_disk
mnt/
