# Configuration file
.config

# Compiled object files
*.a
*.o

# Random garbage
*.gch
*.swp

# Rust compilation files
target/
*.rlib

# ISO and ELF
iso/
maestro
*.iso

# Tags file
tags

# Compiled documentation
doc/

# Debug files
*_out
qemu_disk
serial.log
