# Configuration file
build-config.toml

# Compiled object files
*.o
*.a
*.so

# Random garbage
*.gch
*.swp

# Rust compilation files
target/

# Tags file
tags

# Debug files
*.log

# Disk files
qemu_disk
mnt/
