name: Check
on: [push]
jobs:
  clippy:
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v4
      - name: Macros
        working-directory: macros
        run: cargo clippy --all-features --tests
      - name: Utils
        working-directory: utils
        run: cargo clippy --all-features --tests
      - name: Kernel
        working-directory: kernel
        run: |
          cp default.build-config.toml build-config.toml
          cargo clippy --all-features --tests
      - name: Integration tests
        working-directory: inttest
        run: cargo clippy --all-features --tests
  format:
    runs-on: [self-hosted, linux]
    needs: clippy
    steps:
      - name: Macros
        working-directory: macros
        run: cargo fmt --check
      - name: Utils
        working-directory: utils
        run: cargo fmt --check
      - name: Kernel
        working-directory: kernel
        run: cargo fmt --check
      - name: Integration tests
        working-directory: inttest
        run: cargo fmt --check
  documentation:
    runs-on: [self-hosted, linux]
    needs: clippy
    steps:
      - name: Build book
        run: mdbook build doc/
      - name: Build references
        working-directory: kernel
        run: ci/doc.sh
  build:
    runs-on: [self-hosted, linux]
    needs: clippy
    steps:
      - name: Debug
        working-directory: kernel
        run: ci/build.sh
      - name: Check Multiboot2 for x86 (debug)
        working-directory: kernel
        run: grub-file --is-x86-multiboot2 target/x86/debug/maestro
      - name: Release
        working-directory: kernel
        env:
          CARGOFLAGS: --release
        run: ci/build.sh
      - name: Check Multiboot2 for x86 (release)
        working-directory: kernel
        run: grub-file --is-x86-multiboot2 target/x86/release/maestro
  strace:
    runs-on: [self-hosted, linux]
    needs: build
    steps:
      - name: Build
        working-directory: kernel
        env:
          CARGOFLAGS: --features strace
        run: ci/build.sh
      - name: Check Multiboot2 for x86
        working-directory: kernel
        run: grub-file --is-x86-multiboot2 target/x86/debug/maestro
  miri:
    runs-on: [self-hosted, linux]
    needs: build
    steps:
      - name: Utils
        working-directory: utils
        env:
          MIRIFLAGS: -Zmiri-disable-stacked-borrows
        run: cargo miri test
        timeout-minutes: 10
  selftest:
    runs-on: [self-hosted, linux]
    needs: build
    steps:
      - name: Run utils tests
        working-directory: utils
        run: cargo test
        timeout-minutes: 10
      - name: Run kernel tests
        working-directory: kernel
        run: ci/test.sh self
        timeout-minutes: 10
  inttest:
    runs-on: [self-hosted, linux]
    needs: build
    steps:
      - name: Build tests
        working-directory: inttest
        run: |
          ./build.sh
          mv disk ../kernel/qemu_disk
      - name: Run
        working-directory: kernel
        run: ci/test.sh int
        timeout-minutes: 10
